/lero_control_gym/experiments/Experiment5-CPF-3DQuadcopter/CPF-Images/
/lero_control_gym/experiments/Experiment5-CPF-3DQuadcopter/CPF Videos/
/lero_control_gym/experiments/Experiment5-CPF-3DQuadcopter/results/
