/lero_control_gym/experiments/3DQuadcopter-Tune-Clustered-Particle-Filtering/CPF-Images/
/lero_control_gym/experiments/3DQuadcopter-Tune-Clustered-Particle-Filtering/CPF Videos/
/lero_control_gym/experiments/3DQuadcopter-Tune-Clustered-Particle-Filtering/results/
